.section-header-wrapper {
  overflow: hidden;
  .header-bar {
    display: block;
    height: 5px;
    width: 60px;
    background-color: color(text1);
  }

  .section-header-text {
    margin: 15px 0;
  }

  @include mobile {
    .header-bar {
      height: 3px;
      width: 40px;
    }
  }
}
