.portfolio-wrapper {
  .portfolio-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .header-container {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: auto;
    padding: 0 20px;
    // background-color: teal;

    &:after,
    &:before {
      content: '';
      position: absolute;
      top: 0;
      height: 100%;
      width: 50%;
      background-color: color(background);
      box-sizing: border-box;
      transition: 800ms;
      transition-delay: 250ms;
    }

    &:before {
      left: 0;
      border-right: 3px solid color(watermark);
    }

    &:after {
      right: 0;
      border-left: 3px solid color(watermark);
    }
  }

  .projects-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    margin: 100px 0;
  }

  @import './project//project';

  .portfolio-container.visible {
    .header-container {
      &:before {
        transform: translateX(-100%);
      }
      &:after {
        transform: translateX(100%);
      }
    }
  }
}
