.project-wrapper {
  $projectHeight: 320px;
  //Actual aspect ratio should be 1.6 but full screen screenshots can't be taken without the address bar taking up space which causes the hero to fill 100vh while taking the address bar into account.
  $projectWidth: $projectHeight * 1.8;

  $projectWidthMobile: 100vw * 0.7;
  $projectHeightMobile: $projectWidthMobile / 1.8;

  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @include mobile {
    &:not(:last-of-type) {
      margin-bottom: 150px;
    }
  }
  // background-color: lightblue;

  .project-header-container {
    position: relative;
    padding: 0 20px;
    overflow: hidden;
    // @include sideRevealLines;

    .project-type-text {
      text-transform: uppercase;
      font-weight: 500;
      color: color(text1);
    }
  }

  .project-container {
    position: relative;
    height: $projectHeight;
    width: $projectWidth;
    display: flex;
    justify-content: center;
    align-items: center;
    // background-color: lightsalmon;
    margin-top: 40px;
    box-sizing: border-box;

    @include mobile {
      width: $projectWidthMobile;
      height: auto;
    }
  }

  .project-image-wrapper {
    position: relative;
    height: 100%;
    width: auto;
    padding: 10px 20px;
    overflow: hidden;
    box-sizing: border-box;
    // background-color: teal;

    &:after,
    &:before {
      position: absolute;
      content: '';
      left: 0;
      z-index: 2;
      height: 50%;
      width: 100%;
      background-color: color(background);
      transition-duration: 800ms;
    }

    &:after {
      bottom: 0;
      border-top: $revealLineWidth solid color(watermark);
    }
    &:before {
      top: 0;
      border-bottom: $revealLineWidth solid color(watermark);
    }
  }

  .project-image-container {
    position: relative;
    height: 100%;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border: 4px solid black;
    border-radius: 5px;

    .project-image {
      height: auto;
      max-height: 100%;
      width: auto;
      max-width: 100%;
      object-fit: cover;

      box-sizing: border-box;
      overflow: hidden;
    }
  }

  .project-title-container {
    margin-top: 40px;

    .project-title-text {
      font-weight: 500;
      color: color(text1);
    }
  }

  .project-body-text-container {
    margin: 25px 0;
    max-width: 70%;

    .project-body-text {
      font-size: fontSize(mini);

      @include mobile {
        font-size: fontSizeMobile(mini);
      }
    }

    .link-to-project {
      font-size: fontSize(mini);
      color: color(text2);
      font-weight: 500;
      text-decoration: none;
      display: flex;
      align-items: center;
      margin-top: 20px;

      .external-link-icon {
        height: fontSize(mini);
        width: auto;
        margin-left: 20px;
      }

      @include mobile {
        font-size: fontSizeMobile(mini);
      }
    }
  }
}
