$mobile-width: 768px;
$max-mobile-width: 80vw;
$max-desktop-width: 1126px;

$colors: (
  text1: #fff,
  text2: darken(#fff, 18%),
  watermark: #ffeeee12,
  highlight: #ff8800,
  background: #03183a,
);

$fontSizes: (
  heroHeader: 3.7rem,
  subHeader: 2rem,
  body: 1.3rem,
  mini: 0.95rem,
);

$fontSizesMobile: (
  heroHeader: 2.4rem,
  subHeader: 1.5rem,
  body: 0.9rem,
  mini: 0.79rem,
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function fontSize($font-size-name) {
  @return map-get($fontSizes, $font-size-name);
}

@function fontSizeMobile($font-size-name) {
  @return map-get($fontSizesMobile, $font-size-name);
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
