$mobile-width: 768px;
$max-mobile-width: 80vw;
$max-desktop-width: 1126px;

$colors: (
  text1: #fff,
  text2: darken(#fff, 18%),
  watermark: #ffeeee0f,
  highlight: #ff8800,
  navHighlight: #035086,
  background: #03183a,
);

$fontSizes: (
  heroHeader: 3.6rem,
  header: 1.6rem,
  subheader: 1.4rem,
  body: 1.1rem,
  mini: 0.95rem,
);

$fontSizesMobile: (
  heroHeader: 2.1rem,
  header: 1.3rem,
  subheader: 1.1rem,
  body: 0.85rem,
  mini: 0.72rem,
);

$power-ease: cubic-bezier(0.01, 1.02, 0.83, 1.01);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@function fontSize($font-size-name) {
  @return map-get($fontSizes, $font-size-name);
}

@function fontSizeMobile($font-size-name) {
  @return map-get($fontSizesMobile, $font-size-name);
}

@mixin mobile {
  @media (max-width: #{$mobile-width}) {
    @content;
  }
}

@mixin keyframes($animation-name) {
  @-webkit-keyframes #{$animation-name} {
    @content;
  }
  @-moz-keyframes #{$animation-name} {
    @content;
  }
  @keyframes #{$animation-name} {
    @content;
  }
}
