.about-wrapper {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;

  .about-container {
    height: 100%;
  }

  .body-text-container {
    max-width: 620px;
    overflow: hidden;

    @include mobile {
      max-width: 280px;
    }

    .subheader {
      margin-bottom: 15px;
      color: color(text1);
      font-weight: 500;
    }
  }

  .bottom-text-container {
    margin-left: 33.3%;
    margin-top: 150px;
    overflow: hidden;

    @include mobile {
      margin-left: 0;
      margin-top: 200px;
    }

    .bottom-text-header {
      display: inline-block;
    }

    .bottom-text {
      font-size: fontSize(mini);
      color: color(text1);
      text-transform: uppercase;
      letter-spacing: 1px;

      @include mobile {
        font-size: fontSizeMobile(mini);
      }
    }

    .bottom-text-bar {
      display: block;
      width: 40px;
      height: 2.5px;
      background-color: color(highlight);
      margin: 12px 0;

      @include mobile {
        width: 35px;
        height: 1.5px;
      }
    }

    .name-value-container {
      display: flex;
      width: 140px;
      justify-content: space-between;
      margin-bottom: 10px;

      .bottom-text-name {
        opacity: 0.4;
      }

      .bottom-text-value {
        font-weight: 500;
      }
    }
  }

  .globe {
    $globeSize: 340px;
    $globeSizeMobile: 190px;

    position: absolute;
    right: -20px;
    bottom: 140px;
    height: $globeSize;
    width: $globeSize;
    border-radius: 50%;
    // background-color: teal;
    // border: 1px solid color(watermark);
    background-color: color(background);
    box-shadow: inset 0 0 30px rgba(255, 238, 238, 0.45);
    background-image: url('../../../static//images//earth.png');
    background-repeat: repeat-x;
    background-size: auto 100%;
    animation: globe-animation 22s linear infinite;

    @include mobile {
      height: $globeSizeMobile;
      width: $globeSizeMobile;
      bottom: 185px;
    }

    @include keyframes(globe-animation) {
      0% {
        background-position: 0 0;
      }
      100% {
        background-position: -200% 0;
      }
    }
  }

  $itemsToTranslate: (
    0 'header-bar',
    1 'section-header-text',
    2 'subheader',
    3 'body-text',
    4 'bottom-text-header',
    5 'bottom-text-bar',
    6 'name-value-container.container-0',
    7 'name-value-container.container-1'
  );

  @each $order, $className in $itemsToTranslate {
    .#{$className} {
      transition-duration: 800ms;
      transform: translateX(-100%);
      transition-timing-function: cubic-bezier(0.11, 1.01, 0.67, 1);
      transition-delay: $order * 200ms;
    }
  }

  .globe {
    opacity: 0;
    transition-duration: 800ms;
    transition-delay: 1500ms;
    transform: scale(0.8);
  }

  &.visible {
    @each $order, $className in $itemsToTranslate {
      .#{$className} {
        transform: translateX(0);
      }
    }

    .globe {
      opacity: 1;
      transform: scale(1);
    }
  }
}
