@import '../static//sass/presets';

.app {
  position: relative;
  overflow-x: hidden;
  /* Hide scrollbar for Chrome, Safari and Opera */
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE and Edge */
  -ms-overflow-style: none;

  @import './generalComponents/backgroundLines/verticalBackgroundLines/verticalBackgroundLines';
  @import './generalComponents/sideContactBar/sideContactBar';
  @import './generalComponents/desktopNavBar/desktopNavBar';
  @import './generalComponents/sectionHeader/sectionHeader';
  @import './generalComponents/backgroundLines/linesWithPlanes/linesWithPlanes';
  @import './generalComponents/backgroundLines/linesWithCircles/linesWithCircles';

  @import './sections/home/home.scss';

  @import './sections/about/about.scss';

  @import './sections/portfolio/portfolio.scss';

  @import './sections/techstack/techstack.scss';
}
