.background-circle-wrapper {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  margin-right: -5%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  // background: teal;

  @include mobile {
    margin-right: -20%;
  }

  $outerCircleSize: 80vh;
  $outerCircleSizeMobile: 80vw;

  .outer-circle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: $outerCircleSize;
    width: $outerCircleSize;
    border: 1px solid color(watermark);
    border-radius: 50%;
    animation: circle-rotation-animation 34s linear infinite;

    @include mobile {
      height: $outerCircleSizeMobile;
      width: $outerCircleSizeMobile;
    }

    $orbSize: 20px;
    &:before,
    &:after {
      content: '';
      position: absolute;
      top: 50%;
      height: $orbSize;
      width: $orbSize;
      border: 1.7px solid color(watermark);
      // transform: translateY(-50%);
      border-radius: 50%;
    }

    &:before {
      left: 0;
      transform: translate(-50%, -50%);
    }

    &:after {
      right: 0;
      transform: translate(50%, 50%);
    }
  }
  .inner-circle {
    $innerCircleDifference: 18vh;
    $innerCircleDifferenceMobile: 18vw;

    position: absolute;
    right: 0;
    height: $outerCircleSize - $innerCircleDifference;
    width: $outerCircleSize - $innerCircleDifference;
    margin-right: $innerCircleDifference / 2;
    background-color: #0000006b;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;

    @include mobile {
      height: $outerCircleSizeMobile - $innerCircleDifferenceMobile;
      width: $outerCircleSizeMobile - $innerCircleDifferenceMobile;
      margin-right: $innerCircleDifferenceMobile / 2;
    }

    .image-container {
      position: relative;
      z-index: 1;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 50%;
      width: 50%;

      // img {
      //   height: 100%;
      //   width: 100%;
      // }

      @import './heroImages/heroImges';
    }
  }

  @include keyframes(circle-rotation-animation) {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
