.home-wrapper {
  @import './components/backgroundCircle/backgroundCircle';
  @import './components//typedTextAnimation/typedTextAnimation';

  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  // background: linear-gradient(150deg, #ffffff14 0%, transparent 60%);
  background-image: url('../../../static/images/gradient-image.png');
  background-size: cover;
  background-repeat: no-repeat;

  .home-container {
    position: relative;
    height: 100%;
    width: $max-desktop-width;
    // background: teal;

    .text-wrapper {
      margin-top: 13%;

      .header {
        font-size: 3.7rem;
        font-weight: 600;
        color: color(text1);
        margin: 10px 0 40px 0;
      }
    }
  }
}
