.side-contact-bar-wrapper {
  position: fixed;
  right: 0;
  bottom: 0;
  height: 200px;
  width: 60px;
  border-radius: 2px;
  z-index: 4;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2b1706;
  transition: 500ms;

  &.hidden {
    transform: translateX(100%);
  }

  @include mobile {
    height: 150px;
    width: 45px;
    // bottom: 15px;
  }

  .contact-link {
    opacity: 0.8;
    transition-duration: 150ms;
    &:hover {
      opacity: 1;
      transform: scale(1.1) translateY(-10%);
    }
  }

  $iconSize: 22px;
  $iconSizeMobile: 17px;
  .contact-icon {
    height: $iconSize;
    width: $iconSize;

    @include mobile {
      height: $iconSizeMobile;
      width: $iconSizeMobile;
    }
  }
}
