.typed-text-animation-wrapper {
  display: flex;
  width: auto;
  align-items: flex-end;
  height: fontSize(subHeader);

  @include mobile {
    height: fontSizeMobile(subHeader);
  }

  // background: teal;

  .typed-text {
    font-size: fontSize(subHeader);
    font-weight: 500;
    color: color(text2);
    opacity: 0.4;

    @include mobile {
      font-size: fontSizeMobile(subHeader);
    }
  }

  .animated-cursor {
    margin-left: 5px;
    height: fontSize(subHeader);
    width: 3px;
    background-color: color(text2);
    opacity: 0.5;
    animation: cursor-blink-animation 1.2s infinite;

    @include mobile {
      height: fontSizeMobile(subHeader);
    }
  }

  @include keyframes(cursor-blink-animation) {
    0% {
      opacity: 1;
    }
    30% {
      opacity: 1;
    }
    90% {
      opacity: 0;
    }
  }
}
